@model IEnumerable<LiveCensus.Models.Team1>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.effdt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDt)
        </th>
        <th>            
            @Html.DisplayNameFor(model => model.EditedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditedDt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cell1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cell2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cell3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cell4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cell6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cell7)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.effdt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EditedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EditedDt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cell1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cell2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cell3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cell4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cell6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cell7)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
