@model LiveCensus.Models.Team1

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Team1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cell1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cell1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cell2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cell2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cell3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cell3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cell4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cell4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cell6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cell6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cell7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cell7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditDt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditDt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
